<div id="book-view">
    <p>This is the book view</p>
    <form ng-submit="vm.addBook(vm.book)">
        <input ng-model="vm.book.title" type="text" placeholder="title">
        <input ng-model="vm.book.author" type="text" placeholder="author">
        <select ng-model="vm.book.category_id">
            <option ng-repeat="category in vm.categories.list" value="{{category.id}}">{{category.category}}</option>
        </select>
        <input ng-model="vm.book.image_path" type="text" placeholder="image path">
        <input type="submit">
    </form>
    <div class="book-container">
        <div ng-repeat="book in vm.books.list">
            <h2>{{book.title}}</h2>
            <img ng-src="../assets/{{book.image_path}}"/>
            <ul>
                <li>{{book.author}}</li>
                <li>{{book.category}}</li>
                <li>{{book.pages}}</li>
            </ul>
            <button ng-click="vm.deleteBook(book.id)">Remove</button>
        </div>
</div>
