<div id="book-view">
    <p>This is the book view</p>
    <form ng-submit="vm.addBook(vm.book)">
        <input ng-model="vm.book.title" type="text" placeholder="title">
        <input ng-model="vm.book.author" type="text" placeholder="author">
        <select ng-model="vm.book.category_id">
            <option ng-repeat="category in vm.categories.list" value="{{category.id}}">{{category.category}}</option>
        </select>
        <input ng-model="vm.book.image_path" type="text" placeholder="image path">
        <input type="submit">
    </form>
    <div class="book-container">
            <!-- <h2>{{book.title}}</h2>
            <img ng-src="../assets/{{book.image_path}}"/>
            <ul>
                <li>{{book.author}}</li>
                <li>{{book.category}}</li>
                <li>{{book.pages}}</li>
            </ul> -->
            <!-- layout="row" layout-margin layout-wrap class="md-padding" class="parent" -->
            <md-content layout-xs="column" layout="row" layout-margin layout-wrap class="parent" layout-wrap>
                <!-- <div flex-xs flex-gt-xs="50" layout="column"> -->
                <md-card ng-repeat="book in vm.books.list" 
                        flex=30 md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" 
                        md-theme-watch layout-wrap
                        class="card">
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline">{{book.title}}</span>
                        <span class="md-subhead">{{book.author}}</span>
                      </md-card-title-text>
                      <md-card-title-media>
                        <div class="md-media-md card-media">
                            <img ng-src="../assets/{{book.image_path}}"/>
                        </div>
                      </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="start center">
                      <md-button>Edit Details</md-button>
                      <md-button ng-click="vm.deleteBook(book.id)">Delete</md-button>
                    </md-card-actions>
                </md-card>
                <!-- </div> -->
            </md-content>
</div>
