<div id="category-view">
    <p>This is the category view</p>    
    <form ng-submit="vm.addCategory(vm.category)">
        <input ng-model="vm.category" type="text" placeholder="category">
        <input type="submit">
    </form>
    <div class="category-container">
        <div ng-repeat="category in vm.categories.list">
            <h3>{{category.category}}: {{category.count}}</h3>
            <div ng-repeat="book in vm.books.list | filter: category.category">
                <img ng-src="{{book.image_path}}"/>
            </div>
            <button ng-click="vm.deleteCategory(category)">Remove</button>
        </div>
    </div>   
</div>