<md-dialog aria-label="options dialog">
    <md-dialog-content layout-padding>
      <h1>{{activeBook.title}}</h1>
      <h2 class="md-title">Choose an option</h2>
      <select ng-model="vm.category_id">
        <option ng-repeat="category in vm.categories.list" value="{{category.id}}">{{category.category}}</option>
    </select>
    </md-dialog-content>
    <md-dialog-actions>
      <span flex></span>
      <md-button ng-click="vm.close()">Okay!</md-button>
    </md-dialog-actions>
</md-dialog>


