<div>
    <div class="md-padding">
    <input ng-model="vm.searchTerm" type="text" placeholder="search titles">
    <button ng-click="vm.searchBooks(vm.searchTerm)">Search</button>
    <button ng-click="vm.open('')">Add Book Manually</button>
    </div>
    <!-- <div ng-repeat="book in vm.searchResults.list">
        {{book.volumeInfo.title}} by {{book.volumeInfo.authors[0]}}
        <img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}">
    </div> -->
    <div class="book-container">
            <md-content layout-xs="column" layout="row" layout-margin layout-wrap>
                <md-card ng-repeat="book in vm.searchResults.list" 
                        flex=30 md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" 
                        md-theme-watch layout-wrap
                        md-whiteframe="6">
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline">{{book.volumeInfo.title}}</span>
                        <span class="md-subhead">{{book.volumeInfo.authors[0]}}</span>
                      </md-card-title-text>
                      <md-card-title-media>
                        <div class="md-media-md card-media">
                                <img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}">
                        </div>
                      </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="start">
                        <md-button ng-click="vm.open(book.volumeInfo)" class="md-icon-button">
                            <i class="material-icons">favorite</i>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </md-content>
    </div>

</div>